.home-root {
  max-width: 95vw;
  margin: auto;
  /* margin-top: 30px; */
  font-family: Noto;
  /* background-color: green; */
}

.home-intro {
  display: flex;
  /* height: fit-content; */
  /* justify-content: space-around; */
  width: 90%;
  height: 70vh;
  margin: auto;
  /* background-color: blue; */
  place-content: center;
}

.home-intro img {
  /* border-radius: 50%; */
  /* background-color: brown; */
  /* margin-top: -40px; */
  height: 350px;
  width: 350px;
}

.home-intro > div:nth-child(2) {
  /* background-color: red; */
  width: 66%;
}
.tabs {
  display: flex;
  width: 60%;
  height: 50px;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: green; */
  margin-top: 50px;
}

.tabs div {
  border: 1px solid rgb(209, 209, 209);
  width: 100px;
  height: fit-content;
  text-align: center;
  padding: 3px 0px;
  border-radius: 10px;
  font-size: 12px;
  font-family: Noto;
  font-weight: 700;
}

.tabs div:hover {
  animation: animateBGCOLOR 0.1s forwards;
}

.intro {
  display: block;
  width: 80%;
  height: fit-content;
  margin-top: 120px;
  /* background-color: red; */
}

.title {
  display: block;
  font-size: 16px;
  font-family: Spatakus;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.name {
  margin-bottom: 50px;
  font-size: 40px;
  background: -webkit-linear-gradient(
    right,
    rgb(65, 105, 225),
    rgb(128, 0, 128)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-family: Spatakus;
}

/* .name:hover {
  /* animation: animateBG 0.3s forwards;
} */
*/ .profession {
  font-size: 16px;
  margin-top: 10px;
  font-family: Planet;
  margin-bottom: 30px;
  text-align: left;
}

.prof2 {
  font-size: 16px;
  margin-top: 10px;
  font-family: Planet;
  text-align: left;
}

.bio .note p {
  display: inline;
  text-transform: capitalize;
}

.experience {
  display: none;
}
