@font-face {
  font-family: Planet;
  src: url("../src/assets/fonts/Planetnv2.ttf");
}

@font-face {
  font-family: Spatakus;
  src: url("../src/assets/fonts/SparTakus.ttf");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* body {
  background-image: url("/src/assets/images/istockphoto-1202855261-612x612.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

body {
  background-color: rgba(0, 0, 0, 0.9);
}
@keyframes animateBG {
  0% {
    background: -webkit-linear-gradient(
      right,
      rgb(236, 144, 144) 100%,
      rgb(128, 0, 128)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  100% {
    background: -webkit-linear-gradient(
      right,
      rgb(236, 144, 144) 50%,
      rgb(128, 0, 128)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
  }
}

@keyframes connect-wallet {
  0% {
    background: -webkit-linear-gradient(
      right,
      rgb(236, 144, 144) 50%,
      rgb(128, 0, 128)
    );
    width: 50%;
  }

  100% {
    background: -webkit-linear-gradient(
      right,
      rgb(236, 144, 144) 10%,
      rgb(128, 0, 128)
    );
    width: 55%;
  }
}

@keyframes animateBGCOLOR {
  0% {
    padding: 3px 0px;
    color: white;
    font-weight: 600;
    background: -webkit-linear-gradient(
      right,
      rgb(236, 144, 144) 50%,
      rgb(128, 0, 128)
    );
  }

  100% {
    padding: 4px 2px;
    color: white;
    font-weight: 600;
    background: -webkit-linear-gradient(
      right,
      rgb(236, 144, 144) 10%,
      rgb(128, 0, 128)
    );
  }
}
